body {
  margin-top: 60px;  
  background-image: no-repeat;
  font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

@media all and (max-width: 520px) {
  body {    
      background-color: white;
      font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
      text-rendering: optimizeLegibility;
      -webkit-font-smoothing: antialiased;
  }
}

@media all and (max-width: 699px) and (min-width: 520px) {
  body {    
      font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";     
  }
}

@media all and (min-width: 670px) {
  body {    
      font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
      text-rendering: optimizeLegibility;
      -webkit-font-smoothing: antialiased;
  }
}

h1 {
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: rgb(0, 111, 175);
}

h2 {
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: rgb(0, 111, 175);
}

h3 {
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: rgb(0, 111, 175);
}

h4 {
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h5 {
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: rgb(0, 111, 175);
}

.cardAnimal {
  margin-bottom: 140px;
  width: 100%;
  margin: auto auto;
  box-shadow: 0 14px 20px 4px rgba(0, 0, 0, 0.45);
}


.miniaturas {
  margin-top: 20px;
}

.menuHorizontal ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  background-color: #343a40;
}

.menuHorizontal li {
  float: left;
}

.menuHorizontal li a {
  border: none;
  color: white;
  padding: 1px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  transition: 0.7s;
}

.menuHorizontal li a:hover {
  background-color: #b3d7ff;
  color: black;
}

.rowPrincipal {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.serchVerticalR {
  border-left: 2px solid #b3d7ff;
  background-color: #343a40!important;
  position: relative;
}

.logo {
  text-align: center;
  padding-top: 5px;
  background-color: white;
  margin: 0 auto;
}

.logo img {
  width: 250px;
  margin: 0 auto;
}

.LogInn {
  text-align: right;
}

.formNuevoAnimal {
  box-shadow: 0 14px 20px 4px rgba(0, 0, 0, 0.85);
}

footer {
  background-color: #fff;
  border-top: 1px solid #ededed;
  padding: 50px;
  position: relative;
  color: #484848;
  text-align: center;
}

footer p {
  background-color: #fff;
  border-top: 1px solid #ededed;
  padding: 10px;
  position: relative;
  color: #484848;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

footer .copyright {
  opacity: .5;
  line-height: 1.7;
}


