.serchVerticalL {
  border-right: 2px solid #b3d7ff;
  text-align: left;
  background-color: #343a40!important;
  color: rgb(255, 255, 255);
}

.serchVerticalL h4 {
  margin-top: 20px;
}

h4 {
  text-align: justify;
}